@import url('https://fonts.googleapis.com/css2? family= Bungee+Spice & family= Josefin+Sans:wght@300;400;500;700 & display=swap');

* {
    box-sizing: border-box;
    font-family: 'Bungee Spice', 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

body {
    background-color: #0c0c0c;
    max-height: 100vh;
}

header {
    background-color: #FFBB00;
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
}

.txt-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

#img-logo {
    width: 4%;
    margin-left: -50px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    margin-top: 20px;
    width: 117px;
    background-color: #007a33f7;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.3;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 40px;
    justify-content: center;
}

li {
    border: solid 2px #FFBB00;
    padding: 5px;
    border-radius: 3px;
}

img {
    max-width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

p {
    color: aliceblue;
}

#i {
    height: 136.5px;
}

#p {
    color: #007a33f7;
    cursor: pointer;
    margin: 5px 0;
}

.p {
    position: absolute;
    left: 100px;
    color: #007a33f7;
    cursor: pointer;
}

#p1 {
    padding-left: 300px;
    color: #007a33f7;
    cursor: pointer;
}

h1 {
    color: aliceblue;
}

b {
    color: aliceblue;
}

#p2 {
    padding-left: 50px;
    color: #007a33f7;
    cursor: pointer;
}

#p3 {
    color: #007a33f7;
    cursor: pointer;
}

#p4 {
    color: #007a33f7;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    header {
        position: fixed;
        height: 50px;
        max-width: 100Vh;
    }

    .txt-logo {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3px;
    }

    #img-logo {
        width: 7%;
        margin-left: 10px;
    }

    .container-buttons {
        gap: 10px;
    }

    button {
        width: 85px;
        font-size: 12px;
    }

    .p {
        display: contents;
        color: #007a33f7;
        cursor: pointer;
        font-size: 12px;
    }

    #p {
        font-size: 13px;
        margin: 5px 0;
    }

    #p1 {
        padding-left: 0;
        font-size: 15px;
    }

    #p2 {
        padding-left: 0;
        font-size: 12px;
    }

    #p3 {
        font-size: 12px;
    }

    #p4 {
        font-size: 12px;
        margin-right: 10px;
    }

    li {
        display: grid;
        font-size: 13px;
    }

    ul {
        padding-top: 20%;
        grid-template-columns: 150px 150px;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 380px) {

    .txt-logo {
        gap: 10px;
    }

    .p {
        display: none;
    }

    button {
        width: 65px;
        font-size: 10px;
    }

    .container-buttons {
        gap: 10px;
    }

    ul {
        grid-template-columns: 150px;
    }

}